---
import { Icon } from "astro-icon/components";
---

<a
  href="https://discord.gg/QyCgrrS2fx"
  class="inline-flex not-prose items-center gap-2 rounded-full bg-gray-100 px-3 pr-4 py-1 no-underline bg-indigo-500 hover:bg-indigo-600 text-white"
>
  <Icon name="ic:round-discord" size="20" />
  Join the Discord server
</a>
