---
import { Icon } from "astro-icon/components";
---

<a
  href="https://airtable.com/apprhGn7ZZh8BZaHj/pagAKAqIBd46fmrz5/form"
  class="inline-flex not-prose items-center gap-2 rounded-full bg-gray-100 px-3 pr-4 py-1 no-underline bg-orange-500 hover:bg-orange-600 text-white"
>
  <Icon name="ic:round-feedback" size="20" />
  Give me feedback on this site please
</a>
