---
import "../styles/global.css";
import "@fontsource-variable/space-grotesk";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AI Welfare Info</title>
  </head>
  <body
    class="prose m-auto mt-10 px-4 prose-a:no-underline prose-a:font-normal prose-a:bg-gray-300 prose-a:rounded prose-a:px-1 prose-a:py-0.5 prose-a:hover:bg-gray-400"
  >
    <slot />
  </body>
</html>
